.header {
    font-family: 'Roboto Mono', monospace;
}

.boxs {
    border: 3px solid transparent;
    border-radius: 15px;
    padding: 5px;
    margin: 0;
    overflow: visible;
    background: url('https://wallpapercave.com/dwp1x/wp5126154.jpg');
    background-size: 100% 100%;
    background-position: 50% 80%;
    animation: slideFromAbove 0.5s, pulse 6s infinite;
}
    
.widget-container {
    position: relative;
    width: 450px;
    height: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    overflow: visible;
}

.api-input input[type="text"]:focus {
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: cyan;
    text-align: center;
    border-radius: 10px;
    transform: scale(1.2);
    border: 3px solid transparent;
    z-index: 2;
    animation: pulse 6s infinite;
}

.api-input input[type="text"] {
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 15px;
    width: 250px;
    height: 35px;
    color: cyan;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #ab22fe;
    display: block;
    transform: scale(1.2);

}

.save-button {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -30px;
    margin-left: 0px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 4px;
    border: 3px solid #2197f2;
    background-image: radial-gradient(circle at top left, #212121 10%, #2197f2 90%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: background 0.5s ease-in-out, transform 0.3s ease;
    transform: scale(0.9);
    vertical-align: middle;
}

.save-button:hover {
    color: #ab22fe;
    border-radius: 4px;
    border: 3px solid transparent;
    background-image: radial-gradient(circle at top left, #212121 10%, #ff7171 90%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: border 0s;
    cursor: pointer;
    transition: none;
    vertical-align: middle;
    animation: pulse 6s infinite;
}

@keyframes pulse {
  0% {
    border-color: rgba(255, 0, 0, 1);
  }
  6% {
    border-color: rgba(255, 0, 85, 0.5);
  }
  11% {
    border-color: rgba(255, 0, 170, 1);
  }
  17% {
    border-color: rgba(255, 0, 255, 0.5);
  }
  22% {
    border-color: rgba(170, 0, 255, 1);
  }
  28% {
    border-color: rgba(85, 0, 255, 0.5);
  }
  33% {
    border-color: rgba(0, 0, 255, 1);
  }
  39% {
    border-color: rgba(0, 85, 255, 0.5);
  }
  44% {
    border-color: rgba(0, 175, 255, 1);
  }
  50% {
    border-color: rgba(0, 255, 255, 0.5);
  }
  56% {
    border-color: rgba(0, 255, 170, 1);
  }
  61% {
    border-color: rgba(0, 255, 85, 0.5);
  }
  67% {
    border-color: rgba(0, 255, 0, 1);
  }
  72% {
    border-color: rgba(85, 255, 0, 0.5);
  }
  78% {
    border-color: rgba(170, 255, 0, 1);
  }
  83% {
    border-color: rgba(255, 255, 0, 0.5);
  }
  89% {
    border-color: rgba(255, 170, 0, 1);
  }
  94% {
    border-color: rgba(255, 85, 0, 0.5);
  }
  100% {
    border-color: rgba(255, 0, 0, 1);
  }
}

@keyframes slideFromAbove {
    from {
        height: 0px;
        opacity: 0;
    }
    to {
        height: 150px;
        opacity: 1;
    }
}
