.widget-container,
.download-button,
.select-all-button,
.unselect-all-button {
    font-family: 'Roboto Mono', monospace;
    
}

.boks {
    border: 3px solid transparent;
    border-radius: 15px;
    padding: 5px;
    margin: 0;
    background: url('https://wallpapercave.com/dwp1x/wp5126154.jpg');
    background-size: 110% 110%;
    background-position: 50% 80%;
    overflow: visible;
    animation: slideFromAbove 0.5s, pulse 6s infinite;
}

.widget-container {
    position: relative;
    width: 630px;
    height: 0px;
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    overflow: visible;
}

.download-button {
    margin-top: 390px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 100px;
    font-size: 17px;
    width: 500px;
    height: 40px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: 3px solid #2197f2;
    background-image: radial-gradient(circle at top left, #212121 10%, #2197f2 90%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: background 0.5s ease-in-out, transform 0.3s ease;
    transform: scale(0.8);
    vertical-align: middle;
    z-index: 1;
}

.select-all-button {
    margin-top: 390px;
    margin-right: -30px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-size: 15px;
    width: 300px;
    height: 40px;
    color: white;
    border-radius: 4px;
    border: 3px solid #2197f2;
    background-image: radial-gradient(circle at top left, #212121 10%, #2197f2 90%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: background 0.5s ease-in-out, transform 0.3s ease;
    transform: scale(0.8);
    vertical-align: middle;
    z-index: 1;
}

.unselect-all-button {
    margin-top: 390px;
    margin-right: -30px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 15px;
    width: 300px;
    height: 40px;
    color: white;
    border-radius: 4px;
    border: 3px solid #2197f2;
    background-image: radial-gradient(circle at top left, #212121 10%, #2197f2 90%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: background 0.5s ease-in-out, transform 0.3s ease;
    transform: scale(0.8);
    vertical-align: middle;
    z-index: 1;
}

.download-button:hover,
.select-all-button:hover,
.unselect-all-button:hover {
    color: #ab22fe;
    border-radius: 4px;
    border: 3px solid transparent;
    background-image: radial-gradient(circle at top left, #212121 10%, #ff7171 90%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: border 0s;
    cursor: pointer;
    transition: none;
    vertical-align: middle;
    animation: pulse 6s infinite;
}

.border-style {
    position: absolute;
    display: block;
    bottom: -440px;
    left: 49%;
    transform: translateX(-50%);
    width: 600px;
    height: 55px;
    border: 3px solid #ab22fe;
    border-radius: 50px;
    background-color: #212121;
    padding: 0px;
}

.checkbox-group1 input[type="checkbox"],
.checkbox-group2 input[type="checkbox"] {
    margin-top: -3px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    vertical-align: middle;
}

.checkbox-group1 label {
    font-size: 12px;
    color: white;
    margin-top: 0px;
    margin-right: -50px;
    margin-left: 50px;
    margin-bottom: -5px;
    vertical-align: middle;
}

.checkbox-group2 label {
    font-size: 12px;
    color: white;
    margin-top: 0px;
    margin-right: -50px;
    margin-left: 0px;
    margin-bottom: -5px;
    vertical-align: middle;
}

.checkbox-group1 label:hover {
    margin-top: -10px;
    margin-right: -50px;
    margin-bottom: -50px;
    margin-left: 40px;
    transform: translateY(0px) translateX(-3px);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    color: #ab22fe;
    background-color: #212121;
    border: 3px solid #2197f2;
    transition: border 0s;
    cursor: pointer;
    transition: none;
}

.checkbox-group2 label:hover {
    margin-top: -10px;
    margin-right: -50px;
    margin-bottom: -50px;
    margin-left: 0px;
    transform: translateY(0px) translateX(-13px);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    color: #ab22fe;
    background-color: #212121;
    border: 3px solid #2197f2;
    transition: border 0s;
    cursor: pointer;
    transition: none;
}

@keyframes pulse {
  0% {
    border-color: rgba(255, 0, 0, 1);
  }
  6% {
    border-color: rgba(255, 0, 85, 0.5);
  }
  11% {
    border-color: rgba(255, 0, 170, 1);
  }
  17% {
    border-color: rgba(255, 0, 255, 0.5);
  }
  22% {
    border-color: rgba(170, 0, 255, 1);
  }
  28% {
    border-color: rgba(85, 0, 255, 0.5);
  }
  33% {
    border-color: rgba(0, 0, 255, 1);
  }
  39% {
    border-color: rgba(0, 85, 255, 0.5);
  }
  44% {
    border-color: rgba(0, 175, 255, 1);
  }
  50% {
    border-color: rgba(0, 255, 255, 0.5);
  }
  56% {
    border-color: rgba(0, 255, 170, 1);
  }
  61% {
    border-color: rgba(0, 255, 85, 0.5);
  }
  67% {
    border-color: rgba(0, 255, 0, 1);
  }
  72% {
    border-color: rgba(85, 255, 0, 0.5);
  }
  78% {
    border-color: rgba(170, 255, 0, 1);
  }
  83% {
    border-color: rgba(255, 255, 0, 0.5);
  }
  89% {
    border-color: rgba(255, 170, 0, 1);
  }
  94% {
    border-color: rgba(255, 85, 0, 0.5);
  }
  100% {
    border-color: rgba(255, 0, 0, 1);
  }
}

@keyframes slideFromAbove {
    from {
        height: 0px;
        opacity: 0;
    }
    to {
        height: 450px;
        opacity: 1;
    }
}
