#txt2img_gallery, #img2img_gallery {
  /* Output height */
  height: 680px;
}

#txt2img_results, #img2img_results {
  /* Output width */
  min-width: 50%;
}

#txt2img_gallery > .grid-wrap, #txt2img_gallery > .preview,
#img2img_gallery > .grid-wrap, #img2img_gallery > .preview {
  max-height: none;
}

#txt2img_extra_networks:not(div), #img2img_extra_networks:not(div) {
  order: 1 !important;
}

#setting_show_progress_every_n_steps > div.wrap > div > label > span {
  white-space: nowrap;
  overflow: hidden;
  width: 220px;
  text-overflow: ellipsis;
}

/* Fixing Sampling steps covered up on phone */

@media screen and (min-width: 420px) {
  #sampler_selection_txt2img, #sampler_selection_img2img {
    flex-direction: row;
  }
}

@media screen and (max-width: 420px) {
  #sampler_selection_txt2img, #sampler_selection_img2img {
    flex-direction: column;
  }
}

#txt2img_script_container > * .block.padded, #img2img_script_container > * .block.padded {
  padding: 10px !important;
}

div.compact {
  gap: 5px !important;
}

.tab-nav.scroll-hide.svelte-1g805jl {
  row-gap: 5px !important;
}

#txt2img_script_container > div, #img2img_script_container > div {
  margin-bottom: 10px;
}

#tabs > .tab-nav > button.selected,
#txt2img_extra_tabs > .tab-nav > button.selected,
#img2img_extra_tabs > .tab-nav > button.selected,
#mode_img2img > .tab-nav > button.selected {
  color: var(--button-secondary-text-color);
}

.gradio-container {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

span.svelte-s1r2yt {
  margin-top: -3px;
}

.svelte-1ojmf70.primary {
  top: -1px;
  margin-right: 5px;
}

.svelte-1ojmf70.input-accordion-checkbox {
  top: -1px;
}

.extra-network-pane .card {
  transition: 0.4s ease;
  text-align: center;
}

.extra-network-pane .card:hover {
  box-shadow: 0 0 10px 0.4em rgb(76 227 255);
}

.extra-network-pane .card .actions {
  background: rgba(0, 0, 0, 0.7);
}
