:root {
  --multi-gradient-bg: linear-gradient(to right,
    rgb(255, 0, 0), rgb(255, 0, 25), rgb(255, 0, 50), rgb(255, 0, 75),
    rgb(255, 0, 100), rgb(255, 0, 125), rgb(255, 0, 150), rgb(255, 0, 175),
    rgb(255, 0, 200), rgb(255, 0, 225), rgb(255, 0, 255), rgb(225, 0, 255),
    rgb(200, 0, 255), rgb(175, 0, 255), rgb(150, 0, 255), rgb(125, 0, 255),
    rgb(100, 0, 255), rgb(75, 0, 255), rgb(50, 0, 255), rgb(25, 0, 255),
    rgb(0, 0, 255), rgb(0, 25, 255), rgb(0, 50, 255), rgb(0, 75, 255),
    rgb(0, 100, 255), rgb(0, 125, 255), rgb(0, 150, 255), rgb(0, 175, 255),
    rgb(0, 200, 255), rgb(0, 225, 255), rgb(0, 255, 255), rgb(0, 255, 225),
    rgb(0, 255, 200), rgb(0, 255, 175), rgb(0, 255, 150), rgb(0, 255, 125),
    rgb(0, 255, 100), rgb(0, 255, 75), rgb(0, 255, 50), rgb(0, 255, 25),
    rgb(0, 255, 0), rgb(25, 255, 0), rgb(50, 255, 0), rgb(75, 255, 0),
    rgb(100, 255, 0), rgb(125, 255, 0), rgb(150, 255, 0), rgb(175, 255, 0),
    rgb(200, 255, 0), rgb(225, 255, 0), rgb(255, 255, 0), rgb(255, 225, 0),
    rgb(255, 200, 0), rgb(255, 175, 0), rgb(255, 150, 0), rgb(255, 125, 0),
    rgb(255, 100, 0), rgb(255, 75, 0), rgb(255, 50, 0), rgb(255, 25, 0),
    rgb(255, 0, 0));
}

.multi-panel {
    border: 0px solid transparent;
    border-radius: 3px;
    margin: 0;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    animation: Undress 1s forwards ease-out;
}

.a1111, .forge, .comfyui, .reforge,
.facefusion, .sdtrainer, .kohyass,
.button-15, .button-xl, .button-back {
    background-color: transparent;
    height: 250px;
    cursor: pointer;
    border: 0px solid transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-mask: linear-gradient(to left, transparent, #000 1px);
}
.a1111, .forge, .comfyui, .reforge,
.facefusion, .sdtrainer, .kohyass {
    width: 69%;
    filter: brightness(50%);
    transition: 0.4s ease;
}
.button-15, .button-xl {
    width: 70%;
    filter: brightness(50%) blur(3px);
    transition: 0.4s ease;
}

.a1111 {
    background-image: url('https://i.imgur.com/qIYOTBp.jpg');
}
.forge {
    background-image: url('https://i.imgur.com/XCCKSRW.png');
}
.comfyui {
    background-image: url('https://raw.githubusercontent.com/comfyanonymous/ComfyUI/master/comfyui_screenshot.png');
}
.reforge {
    background-image: url('https://i.imgur.com/95Afkbg.jpg');
}
.facefusion {
    background-image: url('https://i.imgur.com/1R9rDO6.png');
}
.sdtrainer {
    background-image: url('https://i.imgur.com/Ga2GV5F.png');
}
.kohyass {
    background-image: url('https://i.imgur.com/9jLoK6e.png');
}

.button-15 {
    background-image: url('https://i.imgur.com/2jsyKzZ.jpg');
}
.button-xl {
    background-image: url('https://i.imgur.com/2WFq4LL.png');
}

.button-back {
    background-image: url('https://icons.veryicon.com/png/System/Longhorn%20R2/Back%20Button.png');
    border: 1px solid transparent;
    background-color: transparent;
    background-size: 80%;
    cursor: pointer;
    outline: none;
}

.a1111::after, .forge::after, .comfyui::after, .reforge::after,
.facefusion::after, .sdtrainer::after, .kohyass::after,
.button-15::after, .button-xl::after {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: -10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1);
    padding: 10px;
    display: block;
    border-radius: 1px;
    width: 100%;
}

.a1111::after {
    content: 'A1111';
    font-size: 35px;
}
.forge::after {
    content: 'Forge';
    font-size: 35px;
}
.comfyui::after {
    content: 'ComfyUI';
    font-size: 35px;
}
.reforge::after {
    content: 'ReForge';
    font-size: 35px;
}
.facefusion::after {
    content: 'Face Fusion';
    font-size: 35px;
}
.sdtrainer::after {
    content: 'SD Trainer';
    font-size: 35px;
}
.kohyass::after {
    content: 'Kohya SS';
    font-size: 35px;
}

.button-15::after {
    content: 'SD 1.5';
    font-size: 40px;
}
.button-xl::after {
    content: 'SD XL';
    font-size: 40px;
}

.a1111:hover, .forge:hover, .comfyui:hover, .reforge:hover,
.facefusion:hover, .sdtrainer:hover, .kohyass:hover,
.button-15:hover, .button-xl:hover {
    border-radius: 0px;
    width: 100%;
    border: 0px solid transparent;
    filter: brightness(100%);
}

.button-back:active,
.button-back:focus,
.button-back:hover {
    background-color: transparent;
    border-color: transparent;
}
.button-back {
    width: 50%;
    filter: brightness(50%);
}
.button-back:hover {
    filter: brightness(100%);
}

.launch-panel {
    position: relative;
    border: 3px solid transparent;
    border-radius: 30px;
    margin: 0;
    max-height: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    animation: Undress 1s forwards ease-out, BorderPulse 15s infinite;
}

.launch-panel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://i.imgur.com/5Mkdrpw.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    filter: blur(0px);
    transition: all 0.5s ease;
    border-radius: 28px;
    z-index: -1;
}

.launch-panel:hover::before {
    filter: blur(5px);
}
.title {
    font-family: 'Times New Roman', serif;
    font-size: 25px;
    top: -30px;
    margin: 0;
    position: relative;
    color: transparent;
    background-image: var(--multi-gradient-bg);
    background-size: 800% 500%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: slideBackground 20s linear infinite;
}

.widget-container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    position: relative;
    overflow: visible;
}

.buttons {
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 25px;
    width: 130px;
    height: 45px;
    color: white;
    border-radius: 10px;
    border: 2px solid #2197f2;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.buttons:hover {
    transform: scale(1.2);
    color: black;
    border-radius: 10px;
    border: 3px solid transparent;
    background-size: 800% 100%;
    cursor: pointer;
    background-image: var(--multi-gradient-bg);
    animation: slideBackground 10s linear infinite, BorderPulse 7s infinite;
}

.zrok input[type="text"] {
    font-family: 'Roboto Mono', monospace;
    top: -153px;
    left: -27px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 10px;
    height: 25px;
    width: 90px;
    color: white;
    text-align: left;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #ab22fe;
    background-color: rgba(33, 33, 33, 0.7);
    transform: scale(125%);
    transition: all 0.5s ease;
}

.ngrok input[type="text"] {
    font-family: 'Roboto Mono', monospace;
    top: -108px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 10px;
    height: 25px;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #ab22fe;
    background-color: rgba(33, 33, 33, 0.7);
    transform: scale(125%);
    transition: all 0.5s ease;
}

.text-input input[type="text"] {
    font-family: 'Roboto Mono', monospace;
    white-space: pre-wrap;
    word-break: break-word;
    margin-top: -50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -115px;
    font-size: 10px;
    height: 25px;
    width: 530px;
    color: white;
    text-align: left;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #ab22fe;
    background-color: rgba(33, 33, 33, 0.7);
    transform: scale(125%);
    transition: all 0.5s ease;
}

.args2 input[type="text"] {
    font-family: 'Roboto Mono', monospace;
    white-space: pre-wrap;
    word-break: break-word;
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -115px;
    font-size: 10px;
    height: 25px;
    width: 530px;
    color: white;
    text-align: left;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #ab22fe;
    background-color: rgba(33, 33, 33, 0.7);
    transform: scale(125%);
    transition: all 0.5s ease;
}

.text-input input[type="text"]::placeholder,
.args2 input[type="text"]::placeholder,
.zrok input[type="text"]::placeholder,
.ngrok input[type="text"]::placeholder {
    color: grey;
}

.text-input input:focus, .args2 input:focus, .zrok input:focus, .ngrok input:focus {
    background-color: rgba(33, 33, 33, 1);
    border: 1px solid transparent;
    animation: BorderPulse 10s infinite;
}

.text-input input:hover, .args2 input:hover, .zrok input:hover, .ngrok input:hover {
    border: 1px solid #2197f2;
    background-color: rgba(33, 33, 33, 0.8);
}

.gradient-conda {
    width: 200px;
    height: 5px;
    font-size: 0px;
    background-image: var(--multi-gradient-bg);
    background-size: 800% 500%;
    border-radius: 2px;
    border: 1px solid transparent;
    display: inline-block;
    animation: slideBackground 10s linear infinite, BorderPulse 7s infinite;
}

@keyframes Undress {
    0% {
        max-height: 0;
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        max-height: 600px;
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes blurBlur {
    from {
        transform: scale(1);
        opacity: 0;
        filter: blur(50px);
    }
    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes slideBackground {
    0% { background-position: 0% 50%; }
    100% { background-position: -800% 50%; }
}

@keyframes slideAndBlurFromCenter {
    from {
        transform: scale(0.1);
        opacity: 0;
        filter: blur(1000px);}
    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);}
}

@keyframes BorderPulse {
    0% {border-color: rgba(255, 0, 0, 1);}
    1.67% {border-color: rgba(255, 0, 25, 0.75);}
    3.33% {border-color: rgba(255, 0, 50, 0.5);}
    5.00% {border-color: rgba(255, 0, 75, 0.75);}
    6.67% {border-color: rgba(255, 0, 100, 1);}
    8.33% {border-color: rgba(255, 0, 125, 0.75);}
    10.00% {border-color: rgba(255, 0, 150, 0.5);}
    11.67% {border-color: rgba(255, 0, 175, 0.75);}
    13.33% {border-color: rgba(255, 0, 200, 1);}
    15.00% {border-color: rgba(255, 0, 225, 0.75);}
    16.67% {border-color: rgba(255, 0, 255, 0.5);}
    18.33% {border-color: rgba(225, 0, 255, 0.75);}
    20.00% {border-color: rgba(200, 0, 255, 1);}
    21.67% {border-color: rgba(175, 0, 255, 0.75);}
    23.33% {border-color: rgba(150, 0, 255, 0.5);}
    25.00% {border-color: rgba(125, 0, 255, 0.75);}
    26.67% {border-color: rgba(100, 0, 255, 1);}
    28.33% {border-color: rgba(75, 0, 255, 0.75);}
    30.00% {border-color: rgba(50, 0, 255, 0.5);}
    31.67% {border-color: rgba(25, 0, 255, 0.75);}
    33.33% {border-color: rgba(0, 0, 255, 1);}
    35.00% {border-color: rgba(0, 25, 255, 0.75);}
    36.67% {border-color: rgba(0, 50, 255, 0.5);}
    38.33% {border-color: rgba(0, 75, 255, 0.75);}
    40.00% {border-color: rgba(0, 100, 255, 1);}
    41.67% {border-color: rgba(0, 125, 255, 0.75);}
    43.33% {border-color: rgba(0, 150, 255, 0.5);}
    45.00% {border-color: rgba(0, 175, 255, 0.75);}
    46.67% {border-color: rgba(0, 200, 255, 1);}
    48.33% {border-color: rgba(0, 225, 255, 0.75);}
    50.00% {border-color: rgba(0, 255, 255, 0.5);}
    51.67% {border-color: rgba(0, 255, 225, 0.75);}
    53.33% {border-color: rgba(0, 255, 200, 1);}
    55.00% {border-color: rgba(0, 255, 175, 0.75);}
    56.67% {border-color: rgba(0, 255, 150, 0.5);}
    58.33% {border-color: rgba(0, 255, 125, 0.75);}
    60.00% {border-color: rgba(0, 255, 100, 1);}
    61.67% {border-color: rgba(0, 255, 75, 0.75);}
    63.33% {border-color: rgba(0, 255, 50, 0.5);}
    65.00% {border-color: rgba(0, 255, 25, 0.75);}
    66.67% {border-color: rgba(0, 255, 0, 1);}
    68.33% {border-color: rgba(25, 255, 0, 0.75);}
    70.00% {border-color: rgba(50, 255, 0, 0.5);}
    71.67% {border-color: rgba(75, 255, 0, 0.75);}
    73.33% {border-color: rgba(100, 255, 0, 1);}
    75.00% {border-color: rgba(125, 255, 0, 0.75);}
    76.67% {border-color: rgba(150, 255, 0, 0.5);}
    78.33% {border-color: rgba(175, 255, 0, 0.75);}
    80.00% {border-color: rgba(200, 255, 0, 1);}
    81.67% {border-color: rgba(225, 255, 0, 0.75);}
    83.33% {border-color: rgba(255, 255, 0, 0.5);}
    85.00% {border-color: rgba(255, 225, 0, 0.75);}
    86.67% {border-color: rgba(255, 200, 0, 1);}
    88.33% {border-color: rgba(255, 175, 0, 0.75);}
    90.00% {border-color: rgba(255, 150, 0, 0.5);}
    91.67% {border-color: rgba(255, 125, 0, 0.75);}
    93.33% {border-color: rgba(255, 100, 0, 1);}
    95.00% {border-color: rgba(255, 75, 0, 0.75);}
    96.67% {border-color: rgba(255, 50, 0, 0.5);}
    98.33% {border-color: rgba(255, 25, 0, 0.75);}
    100% {border-color: rgba(255, 0, 0, 1);}
}

@keyframes colorChange {
    0% {color: rgba(255, 0, 0, 1);}
    1.67% {color: rgba(255, 0, 25, 0.75);}
    3.33% {color: rgba(255, 0, 50, 0.5);}
    5.00% {color: rgba(255, 0, 75, 0.75);}
    6.67% {color: rgba(255, 0, 100, 1);}
    8.33% {color: rgba(255, 0, 125, 0.75);}
    10.00% {color: rgba(255, 0, 150, 0.5);}
    11.67% {color: rgba(255, 0, 175, 0.75);}
    13.33% {color: rgba(255, 0, 200, 1);}
    15.00% {color: rgba(255, 0, 225, 0.75);}
    16.67% {color: rgba(255, 0, 255, 0.5);}
    18.33% {color: rgba(225, 0, 255, 0.75);}
    20.00% {color: rgba(200, 0, 255, 1);}
    21.67% {color: rgba(175, 0, 255, 0.75);}
    23.33% {color: rgba(150, 0, 255, 0.5);}
    25.00% {color: rgba(125, 0, 255, 0.75);}
    26.67% {color: rgba(100, 0, 255, 1);}
    28.33% {color: rgba(75, 0, 255, 0.75);}
    30.00% {color: rgba(50, 0, 255, 0.5);}
    31.67% {color: rgba(25, 0, 255, 0.75);}
    33.33% {color: rgba(0, 0, 255, 1);}
    35.00% {color: rgba(0, 25, 255, 0.75);}
    36.67% {color: rgba(0, 50, 255, 0.5);}
    38.33% {color: rgba(0, 75, 255, 0.75);}
    40.00% {color: rgba(0, 100, 255, 1);}
    41.67% {color: rgba(0, 125, 255, 0.75);}
    43.33% {color: rgba(0, 150, 255, 0.5);}
    45.00% {color: rgba(0, 175, 255, 0.75);}
    46.67% {color: rgba(0, 200, 255, 1);}
    48.33% {color: rgba(0, 225, 255, 0.75);}
    50.00% {color: rgba(0, 255, 255, 0.5);}
    51.67% {color: rgba(0, 255, 225, 0.75);}
    53.33% {color: rgba(0, 255, 200, 1);}
    55.00% {color: rgba(0, 255, 175, 0.75);}
    56.67% {color: rgba(0, 255, 150, 0.5);}
    58.33% {color: rgba(0, 255, 125, 0.75);}
    60.00% {color: rgba(0, 255, 100, 1);}
    61.67% {color: rgba(0, 255, 75, 0.75);}
    63.33% {color: rgba(0, 255, 50, 0.5);}
    65.00% {color: rgba(0, 255, 25, 0.75);}
    66.67% {color: rgba(0, 255, 0, 1);}
    68.33% {color: rgba(25, 255, 0, 0.75);}
    70.00% {color: rgba(50, 255, 0, 0.5);}
    71.67% {color: rgba(75, 255, 0, 0.75);}
    73.33% {color: rgba(100, 255, 0, 1);}
    75.00% {color: rgba(125, 255, 0, 0.75);}
    76.67% {color: rgba(150, 255, 0, 0.5);}
    78.33% {color: rgba(175, 255, 0, 0.75);}
    80.00% {color: rgba(200, 255, 0, 1);}
    81.67% {color: rgba(225, 255, 0, 0.75);}
    83.33% {color: rgba(255, 255, 0, 0.5);}
    85.00% {color: rgba(255, 225, 0, 0.75);}
    86.67% {color: rgba(255, 200, 0, 1);}
    88.33% {color: rgba(255, 175, 0, 0.75);}
    90.00% {color: rgba(255, 150, 0, 0.5);}
    91.67% {color: rgba(255, 125, 0, 0.75);}
    93.33% {color: rgba(255, 100, 0, 1);}
    95.00% {color: rgba(255, 75, 0, 0.75);}
    96.67% {color: rgba(255, 50, 0, 0.5);}
    98.33% {color: rgba(255, 25, 0, 0.75);}
    100% {color: rgba(255, 0, 0, 1);}
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .tunnel input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: transparent;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    width: auto;
    right: 20px;
    top: -5px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0px;
    cursor: pointer;
    border: 3px solid #212121;
    background-color: rgba(33, 33, 33, 0.5);
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .tunnel input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .tunnel input[type=radio]:checked {
    background-color: #212121;
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .tunnel input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .tunnel input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .tunnel input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  .tunnel input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .tunnel input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .tunnel input[type=radio]:not(.switch) {
    width: 30px;
  }
  .tunnel input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .tunnel input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  .tunnel input[type=radio] + label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 50px;
    font-size: 0px;
  }

  .tunnel input[type=radio]:not(.switch) {
    border-radius: 50%;
  }
  .tunnel input[type=radio]:not(.switch):after {
    content: "🛞";
    width: 0px;
    height: 0px;
    border: 0px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: -13px;
    top: 3px;
    font-size: 36px;
    position: relative;
    
  }
  .tunnel input[type=radio]:not(.switch):checked {
    --r: 43deg;
    border: 3px solid transparent;
    background-color: rgba(33, 33, 33, 0.5);

  }
  .tunnel input[type=radio].switch {
    width: 38px;
    border-radius: 100%;
  }
  .tunnel input[type=radio].switch:after {
    left: 0px;
    top: 0px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  .tunnel input[type=radio].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  .tunnel input[type=radio].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  .tunnel label {
    font-size: 15px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    height: auto;
    width: 90px;
    color: black;
    border-radius: 0px;
    border: 0px solid #ab22fe;
    background-color: transparent;
  }

  .tunnel * {
    box-sizing: inherit;
  }
  .tunnel *:before,
  .tunnel *:after {
    box-sizing: inherit;
  }
}

.cpu-cbx input[type=checkbox] {
  --active: #275EFE;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, .3);
  --border: #BBC1E1;
  --border-hover: #275EFE;
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  right: 0px;
  border-radius: 50%;
  margin-top: -3px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  position: relative;
}

.cpu-cbx input[type=checkbox]:checked,
.cpu-cbx input[type=checkbox]:hover {
  --o: 1;
  --b: var(--active);
  --bc: var(--active);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.cpu-cbx input[type=checkbox]:checked::after {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  content: '🔴';
  display: block;
  position: absolute;
  top: -3px;
  left: -7px;
  color: purple;
  font-size: 25px;
}

.cpu-cbx input[type=checkbox]:not(:checked)::after {
  content: '';
}

.cpu-cbx input[type=checkbox]:focus {
  box-shadow: 0 0 0 var(--focus);
}

.cpu-cbx label {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: black;
  margin-top: 0px;
  margin-right: -50px;
  margin-left: 0px;
  margin-bottom: -5px;
  vertical-align: middle;
}

.cpu-cbx label:hover {
  margin-top: -10px;
  margin-right: -50px;
  margin-bottom: -50px;
  margin-left: -10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color: #ab22fe;
  transition: border 0s;
  cursor: pointer;
}
